<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/transition-style">
    <title>ROCIO</title>
</head>
<body>
    <header>
        <nav>
            <a href="#yo"><h3>ABOUT ME</h3></a>
            <a href="#forma"><h3>FORMACION</h3></a>
            <a href="#contac"><h3>CONTACTO</h3></a>
        </nav>    
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,50.10 C150.00,150.33 349.20,-50.10 500.00,50.10 L500.00,150.33 L0.00,150.33 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>  
        <section class="contenedor-rocio" >
           <div class="rocio">
                <img src="../imges/rocio.jpg" alt="">
              <div class="texto">
                <h1 id="yo">ROCIO <span>RUTH</span> VIDA</h1>
                <h3>Licenciada en Psicologia</h3>
                <h3>Universidad de Buenos Aires</h3><br>
                <p>Profesionalmente, busco formar parte de un equipo de trabajo que me permita aportar todo mi conocimiento y competencias para favorecer la salud mental de los pacientes.</p>
                <p>Destaco como logro haber finalizado la cursada en el tiempo estipulado y con la posibilidad de acceder al "Diploma de Honor".</p>
              </div>
           </div>
        </section> 
        <section class="contenedor2" id="forma">
            <div class="rociobanner">
                <h2>FORMACION</h2>
                <p>En compromiso con mi labor, encuentro necesaria una formacion constante </p>
                <p>que me permita adquirir y desarrollar nuevas habilidades para la clinica.</p>
            </div>
        </section>
        <section class="cursos">
            <div class="curso1">
             <h3>FACULTAD DE PSICOLOGIA UBA</h3>
             <ul>
                <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Curso Intensivo de Acompañante Terapeutica / 30hs.</li>
                <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Jornada de la nueva catedra de Psicologia I y clinica de los toxicomanias.</li>
                <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Curso sobre tematica de generos para estudiantes de la UBA, Resolucion CS 1995/2019.</li>
                <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Conferencia "Freud y la interpretacion de los sueños".</li>
                <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Seminario de Formacion General de Salud Sexual y Reproductiva</li>
             </ul>
             <div class="linea"></div>
            </div>
            <div class="curso1">
              <h3>INSTITUCION FERNANDO ULLOA</h3>
              <ul>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Practica Profesional Supervisada Bimestral, especificidad:Adultos.</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Curso Intensivo "Genero y Psicoanalisis", Abordaje Clinico.</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "Adolescencia:Pasaje al Acto, Peligro y Urgencia".</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "La Fobia ¿sufrimiento pasajero o huesped en el sujeto?</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico ¿Amores? Locos ¿Que amor?</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "La angustia ¿Arma o desarma al sujeto?</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "Niños pequeños. Problematicas en la constitucion subjetiva".</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "Fenomenos psicosomaticos". El Ataque de Asma ¿Que ahoga al sujeto?.</li>
                 <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Taller Clinico "Autismo, espectro autista ¿Diagnosticos o modos de subjetivacion?.</li>
              </ul>
              <div class="linea"></div>
            </div>
            <div class="curso1">
                <h3>ASISTENCIA A CONFERENCIAS</h3>
                <ul>
                   <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Conferencia: ¿Angustia o Angustias?, como se resuelve en la actulidad,<br> del ciclo de conferencias 2020 "Inhibicion, sintoma y angustia en la Clinica Psicoanalitica.</li>
                   <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Conferencia: "La Autoridad del sintoma" ¿Por que hace posible la cura?<br> del ciclo de conferencias 2020 "Inhibicion, sintoma y angustia en la Clinica Psicoanalitica.</li>
                   <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Conferencia: "La Angustia de los padres", del ciclo de conferencias 2021 "La angustia".<br> Su presentacion en la clinica</li>
                   <li><i class="fa-solid fa-hand-point-right fa-lg" style="color:rgb(16, 122, 229)"></i>Conferencia: "Angustia, dolor y duelo: su clinica", del ciclo de conferencia 2021. "La angustia.<br> Su presentacion en la clinica".</li> 
                </ul>
               <div class="linea"></div> 
            </div>
         </section>

         <section class="contenedor4">
            <div class="vista1">
                <img src="../imges/college project-bro.png">
            </div>
            <div class="vista2">
                <img src="../imges/Seminar-pana.png">
            </div>

         </section>
         <section class="contenedor5">
            <div class="titulo">
                <h3>ALGO DE <span>MI</span></h3>
            </div>
            <div class="photos">
                <img src="../imges/img1.jpeg">
                <img src="../imges/img5.jpg">
                <img src="../imges/img3.jpeg">
                <img src="../imges/img4.jpeg">
            </div>
            
         </section>

        <section class="contenedor3">
            <div class="formulario">
                <div class="contacto" id="contac">
                    <h1>CONT<span>ACTAME</span></h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque  perferendis. Quia, obcaecati possimus. Aut vero maiores, sint dolores assumenda voluptatem cupiditate.</p>
                    <a href="#"><i class="fa-solid fa-phone fa-lg" style="color: rgb(16, 122, 229);"></i>01134742201</a>
                    <a href="#"><i class="fa-solid fa-paper-plane fa-lg" style="color: rgb(16, 122, 229);"></i>yoovida@gmail.com</a>
                    <a href="#"><i class="fa-solid fa-map-location-dot fa-lg" style="color:rgb(16, 122, 229)"></i>GERLI,Avellaneda</a> 
                </div>
                <form class="casa">
                    <input type="text" name="nombre" class="campo" placeholder="Ingresa tu Nombre">
                    <input type="email" name="email" class="campo" placeholder="Ingresa tu Correo">
                    <textarea name="mensaje" placeholder="Mensaje"></textarea>
                    <input type="submit" name="enviar" value="Enviar" class="btn-enviar">
                </form>
            </div>
        </section>





    </main>
    <footer>
        <div class="ultimo">
          <h3>© 20<span>23</span> Rocio Ruth Vida</h3>
          <div class="social">
            <a href="#"><i class="fa-brands fa-facebook fa-lg" style="color: #1b52b1;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-lg" style="color: #18489a;"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-lg" style="color: #1d4b9a;"></i></a>

          </div>

        </div>
    </footer>
</body>
</html>