@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
   /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
   para probar la diferencia con y sin scroll suavizado*/
}

body{
    font-family:'Montserrat';
    
    
}


/* BANNER DEBAJO DEL HEADER  */

.contenedor2{
    margin-top: 20px;
    padding: 150px 0px;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url(../imges/e77053678abd77d03f04ffc0c7417f6c.jpg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.rociobanner{
   /* background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)),
    url(./Copy-of-Unnamed-Design-43.webp);*/
   /* height: 250px;
    background-size: contain; */
    height: 120px;
    padding-top: 105px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 75px;
    color:#7fc7af;
}
    
    
.rociobanner h2 {
    padding-bottom: 16px;
    text-decoration: underline;
    text-decoration-color: #7fc7af;
    text-decoration-thickness: 3px ;
    font-size: 40px;
    letter-spacing: 3px;
    color: #fff;
}
.rociobanner p{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}
    


/*--------------------------------------------------------- */

.cursos .bigcurso {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.cursos  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #7fc7af;
    text-decoration-thickness:3px ;
}
    
    
.cursos  p {
    font-size: 23px;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}
    
.cursos {
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    background-color: #424444;
   /* border-radius: 26% 74% 53% 47% / 24% 57% 43% 76% ;
    transition: border-radius 500ms ease-in-out;*/
}

.cursos:hove {
    border-radius: 76% 24% 68% 32% / 61% 74% 26% 39% ;
}

.curso1{
    margin-bottom: 30px;
    background-color: #f0f5f3;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    transition: .5s;
}
.curso1:hover {
    box-shadow: 7px 7px 12px #7fc7af, -7px -7px 12px #7fc7af ;
}    
    

.curso1 img {
    width: 350px;
    height: 250px;
    
    padding: 10px;
}
.curso1 h3 {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    color:#7fc7af;
    font-weight: 600;
    font-size: 25px;
}

 .bigcurso .curso1 .parra {
    padding: 20px;
    font-size: 17px;
    color:#242424;
    font-weight: 400;
}


.contenedor4{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}
    
    
.vista1{
    margin-top: 100px;
    display: flex;
    width: 400px;
    height: 470px;
    border-radius: 10px;
}
    
.vista1 img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
    
.vista1 img:hover{
    width: 250px;
    transform: scale(1.1);
    filter: grayscale(100%);
}
    
    
.vista2{
    margin-top: 30px;
    width: 400px;
    height: auto;
    text-align: center;
}
.vista2 h3 {
    font-weight: 500;
    font-size: 30px;
    color: #424444;
    padding-top: 15px;
    text-decoration: underline;
    text-decoration-color:#7fc7af ;
    text-decoration-thickness:3px ;
}
    
.vista2 button {
    color: black;
    font-size: 15px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
}
.vista2 button:hover {
    background-color: #7fc7af;
    color: #fff;
}

.contenedor45 {
    margin: 0 auto;
    max-width:  1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 70px;
}
.info2 {
    width: 500px;
    height: 600px;
    
}

.info2 h3 {
    font-size: 30px;
    color: #424444;
    font-weight: 500;
    padding-bottom: 40px;
}
    
.info3 {
    padding-bottom: 20px;
}
.info3 h4 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #424444;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #7fc7af;
    text-decoration-thickness:3px ;
}
.info3 span {
    color: #7fc7af;
}

.info3 p {
    padding-top: 5px;
    color: #242424;
}


/*FOOTER -------------------------------*/

@media (max-width: 870px){
    .contenedor2 {
        width: 100%;
        height: 500px;
    }
    .rociobanner {
        padding-left: 30px;
    }
    .rociobanner h2 {
        font-size: 25px;
        
    }
    .rociobanner p {
        font-size: 18px;
    }
    .cursos h2 {
        font-size: 25px;
    }
    .cursos p {
        font-size: 16px;
    }
    .bigcurso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        
    }
    .contenedor45 {
        display: flex;
        flex-direction: column-reverse;
    }
    .vista1 {
        margin-top: 0;
    }
    .info2 {
        margin-top: 40px;
        height: 500px;
        width: 380px;
        height: 600px;
    }

}