<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/transition-style">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>ROCIO</title>
</head>
<body>
    
    <main>  
        
        
        <section class="contenedor2" id="forma">
            <%- include('partials/header') %>



            <div class="rociobanner">
                <h2 class="animate__animated animate__backInLeft">BIENVENIDO</h2><br>
                <p class="animate__animated animate__backInLeft">«La terapia es un espacio que te ayuda a comprender "el problema" y te  </p>
                <p class="animate__animated animate__backInLeft"> brinda herramientas para trabajar en su modificación…»</p>
            </div>
        </section>
        
        <section class="cursos">
            <h2>CONFIANZA Y COMPROMISO</h2><br>
            <p>Compromiso ético y profesional con mis pacientes. Mi labor es colaborar en la compresión y solución de problemas, promover el alcance de objetivos, la salud mental y la reducción de síntomas,
                mejorando la calidad de vida.
            </p>
            <br>
            <div class="bigcurso">
                <div class="curso1">
                  <h3>Trastorno de Ansiedad</h3>
                  <p class="parra">Ansiedad generalizada, trastorno de pánico, ansiedad social, fobias. Ansiedad sexual, ansiedad de desempeño, trastornos sexuales.​</p>
                  <img src="../imges/psicologos-madrid-trastorno-de-ansiedad.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>

                <div class="curso1">
                  <h3>Terapia de Depresion</h3>
                  <p class="parra">Específico tratamiento que trabaja sobre la mejora de calidad de vida,  percepciones del si mismo que afectan el ánimo.​</p>
                  <img src="../imges/psicologos-depresion2.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>

                <div class="curso1">
                  <h3>Terapia de Pareja</h3>
                  <p class="parra">Tratamiento específico que trabaja en la conciliación, negociación, comprensión y resolución de las problemáticas que afectan la unión.​</p>
                  <img src="../imges/medico-que-es-terapia-de-pareja-3.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>
            </div>
        </section>
        <section class="contenedor45">
            <div class="contenedor4">
                <div class="vista1">
                    <img src="../imges/img5.jpg">
                    <img src="../imges/img4.jpeg">
                    
                </div>
                <div class="vista2">
                    <h3>LIC. ROCIO RUTH VIDA</h3>
                    <a href="/miperfil"><button>VER PERFIL</button></a>
                </div>
            </div>
            <div class="info2">
                <h3>NUESTRO PROCESO DE TRATAMIENTO ES SIMPLE...</h3>
                <div class="info3">
                    <h4>Exposicion</h4>
                    <p>El tratamiento clínico cosiste en exponer el motivo de consulta que genera angustia o limitación en la vida del paciente.<br>
                     A partir de una escucha atenta del terapeuta y el análisis en conjunto de dicha situación, se identifican las creencias o conductas que sostienen el problema.</p>
                </div>
                <div class="info3">
                    <h4>Lograr el Cambio</h4>
                    <p>Se buscan medidas alternativas para lograr el cambio mediante la incorporación de ideas más flexibles.<br>
                    Por medio del cuestionamiento a las creencias disfuncionales, se emplea la exposición de evidencias realistas.</p>
        
                </div>
                <div class="info3">
                    <h4>Acompañamiento</h4>
                    <p>Se acompaña al paciente en la comprensión de estas creencias, cómo llegó a construirlas, la función que tienen en su vida,<br>
                     y cual es su desventaja en sostenerlas.</p>
                </div>

            </div>
        </section>
         
      
    </main>
    
   <%- include('partials/footer')  %>
</body>
</html>