<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/transition-style">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>ROCIO</title>
</head>
<body>
    
    <main>  
        
        
        <section class="contenedor2" id="forma">
            <%- include('partials/header') %>



            <div class="rociobanner">
                <h2 class="animate__animated animate__backInLeft">BIENVENIDO</h2><br>
                <p class="animate__animated animate__backInLeft">«Tu vida no es mas que un reflejo de tu estado emocional, si buscas un cambio  </p>
                <p class="animate__animated animate__backInLeft"> estas en el lugar correcto…»</p>
            </div>
        </section>
        
        <section class="cursos">
            <h2>CONFIANZA Y COMPROMISO</h2><br>
            <p>Compromiso ético y profesional con mis pacientes. Mi labor es colaborar en la compresión y solución de problemas, promover el alcance de objetivos, la salud mental y la reducción de síntomas,
                mejorando la calidad de vida.
            </p>
            <br>
            <div class="bigcurso">
                <div class="curso1">
                  <h3>Trastorno de Ansiedad</h3>
                  <p class="parra">Ansiedad social, ansiedad generalizada, trastorno de pánico, fobias específicas, ansiedad de desempeño, trastornos sexuales.​</p>
                  <img src="../imges/psicologos-madrid-trastorno-de-ansiedad.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>

                <div class="curso1">
                  <h3>Terapia de Depresión</h3>
                  <p class="parra">Tratamiento enfocado en mejorar la calidad de vida y la percepción del sí mismo, que impactan en el estado de ánimo.​</p>
                  <img src="../imges/psicologos-depresion2.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>

                <div class="curso1">
                  <h3>Terapia de Pareja</h3>
                  <p class="parra">Tratamiento enfocado en la empatía, la compresión, la comunicación y otras problemáticas que afectan la relación.​</p>
                  <img src="../imges/medico-que-es-terapia-de-pareja-3.jpg" alt="">
                  <!-- <div class="linea"></div> -->
                </div>
            </div>
        </section>
        <section class="contenedor45">
            <div class="contenedor4">
                <div class="vista1">
                    <img src="../imges/rocioslide2.jpg">
                    <img src="../imges/na1 (1).jpg">
                    
                </div>
                <div class="vista2">
                    <h3>LIC. ROCIO RUTH VIDA</h3>
                    <a href="/miperfil"><button>VER PERFIL</button></a>
                </div>
            </div>
            <div class="info2">
                <h3>MI ESTILO TERAPEUTICO ES...</h3>
                <div class="info3">
                    <h4>Terapia Cognitiva Conductual</h4>
                    <p>Se orienta a la busqueda de patrones de conducta y pensamiento que limitan la vida o causan gran sufrimiento.<br>
                     Como terapeuta desde una escucha activa y un trabajo colaborativo encontraremos juntos esas creencias o conductas que sostienen el problema.</p>
                </div>
                <div class="info3">
                    <h4>El Cambio</h4>
                    <p>Lo iremos logrando a partir de diferentes actividades que incluyen experiencias creativas, situaciones de exposición o cuestionamiento de aquellos pensamientos difuncionales.<br>
                      </p>
        
                </div>
                <div class="info3">
                    <h4>El Objetivo</h4>
                    <p>Acompañarte a generar ideas mas flexibles y adaptativas que te permitan lograr lo que te propongas.<br>
                     </p>
                </div>

            </div>
        </section>
         
      
    </main>
    
   <%- include('partials/footer')  %>
</body>
</html>