<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perfil.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Mi Perfil</title>
</head>
<body>
    <%- include('partials/header')  %>

    <section class="perfil">
        <h3 class="animate__animated animate__backInDown">QUIEN SOY...</h3>
        <div class="perfil1  animate__animated animate__backInDown">
            <img src="/imges/rocio23.png" alt="">
            <div class="info">
                <h2><span>ROCIO RUTH VIDA</span></h2> 
                 <h4>Licenciada en Psicología <br>
                    Universidad de Buenos Aires <br>
                    Matrícula 80364
                 </h4>   
                <p>- Como profesional ofrezco compromiso y responsabilidad con quienes decidan iniciar con su espacio terapéutico. 
                     Mi labor implica escucha activa, contención y respeto ante las diversas problematicas, para que juntos transformemos 
                     el malestar actual en una realidad mas saludable.

                </p>   
                 <a class="btn-contact" href="/contacto">CONTACTAME</a>   
                 <a href=""><i class="fa-brands fa-instagram fa-xl " style="color: black;"></i></a>
                  <a class="otro" href=""><i class="fa-brands fa-twitter fa-xl" style="color: black;"></i></a>
                  <a class="otro" href=""><i class="fa-brands fa-linkedin fa-xl" style="color: black;"></i></a>
            </div>
        </div>
    </section>
    <section class="formacion">
        
        <h3>ALGO DE MI FORMACIÓN</h3>
        <div class="formacion2">
            <div class="prueba1">
            <div class="cursos">
                <h4>CURSOS Y CERTIFICACIONES</h4>
                <ul>
                    <li>Teoría y Técnica de la Terapia Cognitivo Conductal / CETECIC 2023</li>
                    <li>Introducción a la Terapia Cognitiva con niños y adolescentes / UBA 2023</li>
                    <li>Abordaje Cognitivo Conductal en niños y adolescentes / CEA SALUD 2023</li>
                    <li>Curso Intensivo de acompañamiento terapéutico / UBA 2018</li>
                    <li>Curso de Integración escolar / UBA 2021</li>
                    <li>Diplomatura en trastornos de Ansiedad / FUNDACIÓN FORO 2022</li>
                </ul>
            </div>
            </div>
            <div class="prueba1">
            <div class="cursos">
                <h4>PRÁCTICAS PROFESIONALES</h4>
                <ul>
                    <li>Práctica Profesional Supervisada bimestral, Especialidad adultos / INSTITUCIÓN ULLOA 2020</li>
                    <li>Clínica en Salud Mental / Hospital Interdisciplinario Psicoasistencial JOSÉ TIBURCIO BORDA 2022</li>
                </ul>
            </div>
            </div>
            <div class="prueba1">
            <div class="cursos">
                <h4>VOLUNTARIADOS</h4>
                <ul>
                    <li>Ayudante de catedrá, materia "Teoría y Técnica de Exploración y Diagnóstico II" / UBA 2022</li>
                </ul>
            </div>
            </div>

            

        </div>
    </section>











    <%- include('partials/footer')  %>
    
</body>
</html>