<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perfil.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Mi Perfil</title>
</head>
<body>
    <%- include('partials/header')  %>

    <section class="perfil">
        <h3 class="animate__animated animate__backInDown">QUIEN SOY...</h3>
        <div class="perfil1  animate__animated animate__backInDown">
            <img src="/imges/rocio23.png" alt="">
            <div class="info">
                <h2><span>ROCIO RUTH VIDA</span></h2> 
                 <h4>Licenciada en Psicologia <br>
                    Universidad de Buenos Aires <br>
                    Matricula 80364
                 </h4>   
                <p>- Soy una profesional comprometida con mi profesión y con las personas que deciden pedir ayuda terapéutica 
                    para lograr atravesar el sufrimiento y la angustia que los invade. Desde mi actitud de escucha, contención y respeto, 
                    intentaremos juntos poder transformar el malestar actual en una realidad mas saludable.

                </p>   
                 <a class="btn-contact" href="/contacto">CONTACTAME</a>   
                 <a href=""><i class="fa-brands fa-instagram fa-xl " style="color: black;"></i></a>
                  <a class="otro" href=""><i class="fa-brands fa-twitter fa-xl" style="color: black;"></i></a>
                  <a class="otro" href=""><i class="fa-brands fa-linkedin fa-xl" style="color: black;"></i></a>
            </div>
        </div>
    </section>
    <section class="formacion">
        
        <h3>ALGO DE MI FORMACION</h3>
        <div class="formacion2">
            <div class="prueba1">
            <div class="cursos">
                <h4>CURSOS Y CERTIFICACIONES</h4>
                <ul>
                    <li>Teoria y Tecnica de la Terapia Cognitivo Conductal / CETECIC 2023</li>
                    <li>Introduccion a la Terapia Cognitiva con niños y adolescentes / UBA 2023</li>
                    <li>Abordaje Cognitivo Conductal en niños y adolescentes / CEA SALUD 2023</li>
                    <li>Curso Intensivo de acompañante terapéutico / UBA 2018</li>
                    <li>Curso de Integracion escolar / UBA 2021</li>
                    <li>Diplomatura en transtorno de Ansiedad / FUNDACION FORO 2022</li>
                </ul>
            </div>
            </div>
            <div class="prueba1">
            <div class="cursos">
                <h4>PRACTICAS PROFESIONALES</h4>
                <ul>
                    <li>Practica Profesional Supervisada bimestral, Especialidad adultos / ULLOA 2020</li>
                    <li>Clinica en Saludo Mental / BORDA 2022</li>
                </ul>
            </div>
            </div>
            <div class="prueba1">
            <div class="cursos">
                <h4>VOLUTARIADOS</h4>
                <ul>
                    <li>Ayudante de catedra, materia "Teoria y Tecnica de explotacion y Diagnostico II" / UBA 2022</li>
                </ul>
            </div>
            </div>

            

        </div>
    </section>











    <%- include('partials/footer')  %>
    
</body>
</html>