<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/servicios.css">
    <title>Servicios</title>
</head>
<body> 
    <%- include('partials/header') %>
    <section class="principal">
        <h3>TERAPIA</h3>
        <p>Proporciono un espacio seguro y confidencial en el que puedes expresarte libremente y trabajar para un cambio positivo.<br> 
           Mediante ciertos métodos de tratamientos puedo ayudarte a conseguir mayor bienestar, satisfacción y equilibrio emocional.<br>
           Mi labor es acompañarte a que seas el protagonista de tu vida... 
            </p>
        <div class="servicios">
            <div class="area">
                <img src="/imges/psicologos-depresion2.jpg" alt="">
                <div class="descripcion">
                    <h2>Depresión</h2>
                    <p>Es un trastorno que puede afectar a cuaquiera independientemente de su edad, cultura, nivel educativo o económico.  
                     Incide en el estado de ánimo generando tristeza desanimo o frustración que afectan la vida diaria.</p>

                </div>   
            </div>
            <div class="area">
                <img src="/imges/psicologos-madrid-trastorno-de-ansiedad.jpg" alt="">
                 <div class="descripcion">
                    <h2>Ansiedad</h2>
                    <p>Es una respuesta emocional a situaciones percibidas como peligrosas. Impacta en nuestro
                    pensamiento y se expresa mediante síntomas físicos y cognitivos.</p>
                </div>   

            </div>
            <div class="area">
                <img src="/imges/medico-que-es-terapia-de-pareja-3.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia de Parejas</h2>
                   <p>Los desacuerdos de la vida cotidiana pueden impactar en la dinámica de pareja, deteriorando el vínculo.  
                   </p>
                   
                </div>   
            </div>

            <div class="area">
                <img src="/imges/crisis-vitales2.jpg" alt="">
                <div class="descripcion">
                   <h2>Crisis Vitales</h2>
                   <p>Son sucesos determinados que aparecen en el transcurrir de la vida misma e impactan en el estado de ánimo. 
                   </p>
                   
                </div>   
            </div>

            <div class="area">
                <img src="/imges/desarrollo-personal.jpg" alt="">
                <div class="descripcion">
                   <h2>Desarrollo Personal</h2>
                   <p>Descubrimiento y desarrollo de habilidades personales que te permiten alcanzar tus metas y objetivos. 
                   </p>
                    
                </div>   
            </div>

            <div class="area">
                <img src="/imges/padres1.webp" alt="">
                <div class="descripcion">
                   <h2>Orientación a Padres</h2>
                   <p>Espacio de acompañamiento a los padres que desean desarrollar herramientas para una crianza asertiva y fortalecer el vínculo. 
                   </p>
                     
                </div>   
            </div>

            <div class="area">
                <img src="/imges/estress.webp" alt="">
                <div class="descripcion">
                   <h2>Estress Laboral</h2>
                   <p>Percepción de tensión y excesiva exigencia en un entorno laboral. Afecta el desempeño profesional y el estado 
                    de ánimo.</p>
                </div>   
                     
                    
            </div>

            <div class="area">
                <img src="/imges/TERAPIA_FAMILIA.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia Familiar</h2>
                   <p>Intervenciones en el sistema dinámico vincular familiar que promuevan relaciones mas saludables, basadas en el respeto,
                    la confianza y la comunicación asertiva. 
                   </p>
                </div>   
            </div>
                    

            <div class="area">
                <img src="/imges/miedos-y-fobias.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia para Fobias</h2>
                   <p>Tratamiento específico basado en la exposición a las situaciones u objetos ansiógenos mediante el acompañamiento
                    y orientación terapeutica. 
                   </p>
                </div>   
            </div>
                     
                   
        </div>
    </section>

            




    


<%- include('partials/footer')  %>




    

</body>
</html>