<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/servicios.css">
    <title>Servicios</title>
</head>
<body> 
    <%- include('partials/header') %>
    <section class="principal">
        <h3>TERAPIAS</h3>
        <p>Brindo un ambiente seguro y confidencial para que te sientas cómodo/a expresándote y trabajando hacia el cambio positivo.<br> 
            Mi misión es apoyarte en tu camino hacia una vida más plena y satisfactoria. Descubre cómo mis terapias<br> 
            pueden ayudarte a alcanzar una mayor felicidad y equilibrio emocional.</p>
        <div class="servicios">
            <div class="area">
                <img src="/imges/psicologos-depresion2.jpg" alt="">
                <div class="descripcion">
                    <h2>Depresion</h2>
                    <p>Es un estado de ánimo en donde la persona tiene sentimientos de tristeza e infelicidad 
                    y que le provoca una falta de ganas de hacer cualquier actividad que le suponga un esfuerzo, un gasto de energía.</p>

                </div>   
            </div>
            <div class="area">
                <img src="/imges/psicologos-madrid-trastorno-de-ansiedad.jpg" alt="">
                 <div class="descripcion">
                    <h2>Ansiedad</h2>
                    <p>Es un estado mental y corporal de defensa debido a que nuestro organismo se prepara 
                    para afrontar posibles situaciones difíciles en donde está en juego nuestra existencia actual.</p>
                </div>   

            </div>
            <div class="area">
                <img src="/imges/medico-que-es-terapia-de-pareja-3.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia de Parejas</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/crisis-vitales2.jpg" alt="">
                <div class="descripcion">
                   <h2>Crisis Vital</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/desarrollo-personal.jpg" alt="">
                <div class="descripcion">
                   <h2>Desarrolo Personal</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/padres1.webp" alt="">
                <div class="descripcion">
                   <h2>Orientacion a Padres</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/estress.webp" alt="">
                <div class="descripcion">
                   <h2>Estress Laboral</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/TERAPIA_FAMILIA.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia Familiar</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>

            <div class="area">
                <img src="/imges/miedos-y-fobias.jpg" alt="">
                <div class="descripcion">
                   <h2>Terapia para Fobias</h2>
                   <p>Los problemas que más suelen malograr las relaciones de pareja son: los celos, la incomunicación, los conflictos sin resolver, 
                   la rutina, los desacuerdos en las tareas de casa, etc.  
                    </p>
                </div>   
            </div>
                   
        </div>
    </section>

            




    


<%- include('partials/footer')  %>




    

</body>
</html>